<div class="section-header">
    {% include "header/nav.html.twig" %}
    <section class="header-main">
        
        <div class="row align-items-center">
            

            <div class="col-lg-6 col-sm-6">
                <div class="widgets-wrap d-flex justify-content-end">                    
                    <div class="widget-header dropdown">
                        <a href="#" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10">                           
                            <div class="text">                                
                                {% if app.user %}                               
                                <small>{{ app.user.username }}</small>  
                                <div class="dropdown-menu dropdown-menu-right"> 
                                    <a class="dropdown-item" href="{{path('user_account')}}">My account</a>
                                    <a class="dropdown-item" href="{{path('app_logout')}}">Logout</a>
                                </div> <!--  dropdown-menu .// -->
                            </div> <!-- widget  dropdown.// -->                                                                 
                                 {% else %}                                
                                 <span>Login <i class="fa fa-caret-down"></i></span>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <form class="px-4 py-3" action="{{ path('app_login') }}" method="post">                               
                                {{ render(controller('App\\Controller\\SecurityController::login'))}}  
                            </form>
                            <hr class="dropdown-divider">
                            
                            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <div>
                                    <a class="dropdown-item" href="{{ path('app_registration_user') }}">Don't have an account yet ? Join us</a>
                                </div>
                            {% endif %}
                            <div>
                                <a class="dropdown-item" href="{{ path('app_forgotten_password') }}">Forgotten password</a>
                            </div>
                        </div> <!--  dropdown-menu .// -->
                    </div> <!-- widget  dropdown.// -->
                    {% endif %}
                </div>	<!-- widgets-wrap.// -->	               
            </div>
        </div> <!-- row.// -->               
    </section> <!-- header-main .// -->    
</div> <!-- section-header.// -->