{#            
<div class="dropdown">
    {% if app.user %}                            
        <a class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            <small>{{ app.user.username }}</small>                            
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{path('user_account')}}">My account</a>
                <a class="dropdown-item" href="{{path('app_logout')}}">Logout</a>
        </div>
    {% else %}
        <a class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            Sign In                                                          
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">
                <form class="px-4 py-3" action="{{ path('app_login') }}" method="post">                               
                    {{ render(controller('App\\Controller\\SecurityController::login'))}}  
                </form>                                   
            </a>
            <a class="dropdown-item" href="{{path('app_logout')}}">
                <hr class="dropdown-divider">
    
                {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div>
                        <a class="dropdown-item" href="{{ path('app_registration_user') }}">Don't have an account yet ? Join us</a>
                    </div>
                {% endif %}
                <div>
                    <a class="dropdown-item" href="{{ path('app_forgotten_password') }}">Forgotten password</a>
                </div>
            </a>
        </div> 
    {% endif %}                           
</div> #}

<div class="modal" tabindex="-1" role="dialog" id="#exampleModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            {% if app.user %}
            <h5 class="modal-title">Welcome {{app.user.username}}</h5>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" href="{{path('user_account')}}">Mon compte</button>
                <button type="button" class="btn btn-primary"href="{{path('app_logout')}}">Se deconnecter</button>
              </div>

              {% else %}
              <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
              </a>              
              <div class="modal-body">
                <form class="px-4 py-3" action="{{ path('app_login') }}" method="post">                               
                    {{ render(controller('App\\Controller\\SecurityController::login'))}}  
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" href="{{ path('app_registration_user') }}">Don't have an account yet ? Join us</button>
                <button type="button" class="btn btn-primary" href="{{ path('app_forgotten_password') }}">Forgotten password</button>
              </div>
                  
            {% endif %}
            
