{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/header.css')}}">
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block "><!-- hidden spacer to center brand on mobile --></span>
        <ul>
            <li class="nav-item">
                <a class="nav-link" href=" {{path('home')}} ">
                    <img src="{{asset('img/mu_icon.png')}}" alt="" style="width: 52px; height:auto;">
                </a>
            </li>
        </ul>

        <div class="w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">            
            {% for categorie in categories %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_categorie_show', {'id' : categorie.id })}}">{{ categorie.name}}</a>
            </li>  
            {% endfor %} 
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_blog')}}">Le blog</a>
            </li> 

            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
          </li> 
            
            <li class="nav-item">
                {% if app.user %}

                <button type="button" class="btn" data-toggle="modal" data-target="#accountModal">
                  <i class="fa fa-user" aria-hidden="true" ></i>
                  Welcome {{app.user.username}}
                </button>                                 
                

                {% else %}
                
                <button type="button" class="btn" data-toggle="modal" data-target="#loginModal">
                    <i class="fa fa-user" aria-hidden="true" ></i>
                    Se connecter
                </button>  

                {% endif %}

                {# Modal de connection #}

                

                <div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          {# <h5 class="modal-title" id="accountModalLabel"> {{app.user.username}} </h5> #}
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        
                        <div class="modal-footer">
                            <a type="button" class="btn btn-secondary" href="{{path('user_account')}}">Mon compte</a>
                            <a type="button" class="btn btn-primary"href="{{path('app_logout')}}">Se deconnecter</a>
                        </div>
                      </div>
                    </div>
                  </div>

                
                    
                <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">                          
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form class="px-4 py-3" action="{{ path('app_login') }}" method="post">                               
                                {{ render(controller('App\\Controller\\SecurityController::login'))}}  
                            </form>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <a type="button" class="btn btn-secondary" href="{{ path('app_registration_user') }}">Créer un compte</a>
                            <a type="button" class="btn btn-primary" href="{{ path('app_forgotten_password') }}">Mot de passe oublié?</a>
                        </div>
                      </div>
                    </div>
                  </div>
                
                
            </li>
        </ul>
    </div>
</nav>

{% endblock %}

