{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
<div class="bg-light p-3">
    <h1>Votre panier</h1>
</div>

{% if items | length > 0  %}
<div class="container container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
                <tr>
                    <td> {{item.product.name}} </td>
                    <td>{{item.product.prix}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.product.prix * item.quantity}}</td>
                    <td>
                        <a href="{{path('cart_remove', {'id': item.product.id})}}" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total : </td>
                <td> {{total}} </td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>

{% else %}
<p>Votre panier est vide</p>    
{% endif %}

{% endblock %}
