{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  {{ form_start(formRegistration) }}

  {{ form_row(formRegistration.email, {'label':'Votre email',  'attr':{'class':'form-control'}})}}
  {{ form_row(formRegistration.username, {'label':'Votre identifiant', 'attr':{'class':'form-control'}})}}
  {{ form_row(formRegistration.password, {'label':'Votre mot de passe', 'attr':{'class':'form-control'}})}}
  {# {{ form_row(formRegistration.second, {'label':'Confirmez votre mot de passe',  'attr':{'placeholder':'Confirme mot de passe', 'class':'form-control'}})}} #}
  
  
  <button type="submit" class="btn btn-success" name="button">Submit</button>

  {{ form_end(formRegistration)}}
  </div>


{% endblock %}