
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/admin.login.css') }}" />
{% endblock %}

{% block title %}{% endblock %}

{% block body %}

   
    <form method="post" class="form-signin">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>    
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>    
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html  #}
        <div id="remember" class="checkbox"> 
            <label>
                <input type="checkbox" value="remember-me"> Se rappeler de moi
            </label>
        </div>
   

    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">
        Se connecter
    </button>
</form>


{% endblock %}

