
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/admin.login.css') }}" />
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
    <div class="card card-container" style="background-color:rgb(248, 249,248, .3)">        
        <img id="profile-img" class="profile-img-card" src="{{ asset('img/mu.png')}}" />
        <p id="profile-name" class="profile-name-card"></p>
        <form method="post" class="form-signin">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>    
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>    
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html  #}
                <div id="remember" class="checkbox"> 
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
        

            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">
                Sign in
            </button>
        </form>
</div> <!-- /card-container -->
</div>
{% endblock %}

