{% extends 'base.html.twig' %}

{% block stylesheets %}   
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ asset('images/products/' ~ product.imageName ) }}" alt="" style="width:350px;">
        </div>
        <div class="col-md-4">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Infos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Description</a>
                </li>                
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade-in active" id="profile">
                <h2> {{product.name}}</h2>
                <h3>{{product.categorie.name}}</h3>
                <p>{{product.description}} </p>
                <p>Prix: {{product.prix}} € <small>TTC</small></p>
                <div class="col-md-12" > 
                  <form action="{{ path('cart_add', {'id' :  product.id } )}}" method="get">
                    <select>
                      {% for i in 1..10 %}
                      <option value="{{ i }}">{{ i }}</option>
                      {% endfor %}  
                    </select> 
                    <button class="btn btn-success" method="post" type="submit" >Acheter <i class="fas fa-shopping-cart"></i></button>
                  </form>  
                </div>  
            </div>
            <div role="tabpanel" class="tab-pane fade" id="buzz">
                <h2>Détails: {{product.name}}</h2>
                <p>Description du produit: {{product.description}} </p>                 
            </div>            
        </div>
        </div>         
    </div>
    

    <hr />

    <section id="commentaires">
      <h1>{{product.productComments | length }} Commentaires: </h1>
      {% for productComment in product.productComments %}
        <div class="comment">
          <div class="row">
            <div class="col-3">
              {{ productComment.author }} ( <small>{{ productComment.createdAt | date('d/m/Y a H:i') }}</small>)
            </div>
            <div class="col">
              {{ productComment.content | raw }}
            </div>
          </div>
        </div>
      {% endfor %}

      {% if app.user %}
        {{ form_start(commentForm) }}
        {{form_row(commentForm.author, {'attr':{'placeholder': "Votre nom", 'class':'form-control'}})}}
        {{form_row(commentForm.content, {'attr':{'placeholder': "Votre message", 'class':'form-control'}})}}
        <button type="submit" name="button" class="btn btn-success">Poster</button>
        {{ form_end(commentForm) }}
      {% else %}
        <h2>Vous ne pouvez pas commenter sans etre connecté</h2>
        <a href="{{path('app_login')}}" class="btn btn-primary">Se connecter</a>
      {% endif %}
    </section> 
</div>
{#{% block javascript %}
<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
<script>paypal.Buttons().render('div');</script>
{% endblock %}#}


{% endblock %}

