{% extends 'base.html.twig' %} 

{% block title %}{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
       
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="titreJumbo" class="jumbotron-heading">{{ title_page}}</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>       
    </div>
</section>
        
        <div class="row">
            <div class="container">
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4">
                            <div class="image">
                                {% if product.imageName %}                            
                                <img class="card-img"   src="{{ asset('images/products/' ~ product.imageName ) }}" alt="Card image cap" style="margin: 15px;" >
                                {% else %}
                                <img class="card-img" src="{{path('https://picsum.photos/400')}}" alt="Card image cap">   
                                {% endif %}
                            </div>
                            <div class="infos overlay">                        
                                <h4>{{ product.name}}</h4>
                                <h5 class="text-muted"> {{product.prix}}€ </h5>                        
                                <div class="btn-group d-flex justify-content-end">    
                                    <a href="{{ path('app_product_show', {'id' :  product.id } )}}" type="button" class="btn btn-sm btn-outline-secondary"> <i class="fa fa-eye"></i></a>  
                                    <a href="{{ path('cart_add', {'id' :  product.id } )}}" type="button" class="btn btn-sm btn-outline-secondary" method="post" > <i class="fa fa-shopping-cart"></i></a> 
                                </div>                        
                            </div> 
                        </div>
                    {% endfor %}
                </div>
            </div> 
        </div>         
    </div>  
</div>

{% endblock %}




