{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/jumbotron/jumbotron.css')}}">
{% endblock %}

{% block body %}   
    <div class="jumbo">

        <div class="container"> 
            <div class="row d-flex justify-content-center w-100">
                <div class="col-md-4">
                    <h4>Vaisseau spatial</h4>
                    {% for product in vaisseaux %}
                    <div class="col-md-8 d-flex">
                        <div class="thumbImage">
                            {% if product.imageName %}                            
                            <img class="card-img" src="{{ asset('images/products/' ~ product.imageName ) }}" alt="Card image cap" >
                            {% else %}
                            <img class="card-img" src="https://via.placeholder.com/325x248" alt="Card image cap">   
                            {% endif %}
                        </div> 
                        <div class="col-sm-6" id="thumbDetails">
                            <h4 class="card-title">{{ product.name}}</h4>
                            <h5 class="text-muted"> {{product.prix}}€ </h5>
                            <div class="btn-group">    
                                <a href="{{ path('add_cart', {'id' :  product.id } )}}" type="button" class="btn btn-sm btn-outline-secondary" method="post" > <i class="fa fa-plus"></i> panier</a>  
                            </div>
                        </div>                            
                    </div>
                    
                    {% endfor %}
                </div>
                
                <div class="col-md-4">
                    <h4>Landscape</h4>
                    {% for product in landscape %}
                    <div class="col-md-8 d-flex">
                        <div class="thumbImage">
                            {% if product.imageName %}                            
                            <img class="card-img" src="{{ asset('images/products/' ~ product.imageName ) }}" alt="Card image cap" >
                            {% else %}
                            <img class="card-img" src="https://via.placeholder.com/325x248" alt="Card image cap">   
                            {% endif %}
                        </div> 
                        <div class="col-sm-6" id="thumbDetails">
                            <h4 class="card-title">{{ product.name}}</h4>
                            <h5 class="text-muted"> {{product.prix}}€ </h5>
                            <div class="btn-group">    
                                <a href="{{ path('add_cart', {'id' :  product.id } )}}" type="button" class="btn btn-sm btn-outline-secondary" method="post" > <i class="fa fa-plus"></i> panier</a>  
                            </div>
                        </div>                            
                    </div>
                    
                    {% endfor %}
                </div>

                <div class="col-md-4">
                        <h4>Impression 3D</h4>
                        <img id='thumb3D' src="{{asset('https://www.techcorner.fr/wp-content/uploads/2017/05/Dagoma-neva-3.jpg')}}" alt="">
                    </div>
            </div>
        </div>
    
    </div>

{% block javascripts %}{% endblock %}
{% endblock %}