<div class="bottomBandeau container-fluid align-middle">
    <div class="icon" id="paypal">
        <i class="fab fa-cc-paypal"></i>
        <p>Paypal payment</p>
    </div>
    <div class="icon" id="delivery">
        <i class="fas fa-globe"></i>
        <p>worldwide delivery</p>

    </div>
    <div class="icon" id="quality">
        <i class="fas fa-award"></i>
        <p>hight quality products</p>

    </div>
    <div class="icon" id="handcraft">
        <i class="fas fa-hand-holding-heart"></i>
        <p>100% handcraft</p>

    </div>
    <div class="icon" id="award">
        <i class="fas fa-trophy"></i>
        <p>Winning award products</p>
    </div>
</div>