<div class="blockMenu">
    
    <div class="menu" id="modelKit">
        <a href="#">
            <h2>Model kits</h2>
            <p>Lorem ipsum, dolor sit</p>
        </a>
    </div>
    <div class="menu" id="diorama">
        <a href="#">
            <h2>Dioramas</h2>
            <p>Lorem ipsum, dolor sit</p>
        </a>
    </div>
    <div class="menu" id="actionFigurine">
        <a href="#">
            <h2>Action figurines</h2>
            <p>Lorem ipsum, dolor sit</p>
        </a>
    </div>
    <div class="menu" id="print">
        <a href="#">
            <h2>3D Print</h2>
            <p>Lorem ipsum, dolor sit</p>
        </a>
    </div>
    <div class="menu" id="blog">
       <a href="#">
            <h2>Blog</h2>
            <p>Lorem ipsum, dolor sit</p>
       </a>
    </div>
</div>