<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="z-index: 10">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>  
  
          <div class="carousel-inner">
            {% for imageCarousel in imagesCarousel|slice(0, 3)  %}
            <div class="view">
                <div class="carousel-item {% if loop.index == 1 %} active {% endif %} ">
                    <a href="#">
                        <img class="d-block w-100" src="{{asset('images/carousel/' ~ imageCarousel.image )}}" alt="First slide">
                    </a>
                    <div class="mask rgba-black-light"></div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Handcraft model kit & homemade design</h3>
                        <p>Toy soldiers, toy train, animals, houses, : toys are the world but miniatures, useful for a child to make him feels giant</p>
                        <button type="button" class="CTA">Shop now</button>
                    </div>  
                </div> 
              </div>
  
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a> 
              {% endfor %}
          </div>
      </div>