{% extends 'base.html.twig' %} 

{% block title %}Accueil{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/owlCarousel/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{asset('css/owlCarousel/owl.theme.default.min.css')}}">
<link rel="stylesheet" href=" {{asset('css/main.css')}} ">
<link rel="stylesheet" href=" {{asset('css/home.css')}} ">
{% endblock %}

{% block body %}
<body>
    
    <div class="carousel">
        {% include 'home/carousel.html.twig' %}
    </div>
    <div class="bandeau">
        {% include "home/bandeau.html.twig" %}
    </div>
    <div class="secondMenu">
        {% include "home/blockMenu.html.twig" %}
    </div>  
      
    <div class="slider">
        <div class="sliderLatest">
            <h2 class="titreH2">- new <span>arrivals</span> - </h2>    
            {% include "home/slider/owl-slider-latest.html.twig" %}
        </div>
        <div class="sliderCrush">
            <h2 class="titreH2">- Best <span>sellers</span> -</h2>
            {% include "home/slider/owl-slider-crush.html.twig" %}
        </div>
    </div>

    <div class="troisDPrint">
        {% include "home/3Dprint/3Dprint.html.twig" %}
    </div>

    <div class="blockProductByTag">
        <h2 class="titreH2">- More <span>stuff -</span></h2>
        {% include "home/productByTag/productByTag.html.twig" %} 
    </div>

    <div class="theTeam">
        <h2 class="titreH2">- Our <span> team </span> - </h2>
        {% include "home/team.html.twig" %}       
    </div>
    <div class="blog">
        <h2 class="titreH2">- Stay in<span> touch </span> - </h2>
        {% include "home/blog/latestPost.html.twig" %}         
    </div>
    
    
   
    
    

   
    

</body>


      
{# {% include "home/album/album.html.twig" %} #}

       
{% endblock %}