<div class="team">    
    <div class="loane">
        <img src=" {{asset('../images/team/loane.jpg')}} " alt="loaneImage">
        <h5>Loane Flux</h5>
        <p>3D designer & model Kit designer</p>
        <div class="socialMedia">
            <a href="#"><img id="fb" src="{{asset('../images/icons/fb.png')}} " alt=""></a>
            <a href="#"><img id="pinterest" src="{{asset('../images/icons/pinterest.png')}} " alt=""></a>
        </div>
    </div>
    <div class="alicia">
        <img src=" {{asset('../images/team/alicia.png')}} " alt="aliciaImage">
        <h5>Alicia Flux</h5>
        <p>Sculptor & model kit designer</p>
        <div class="socialMedia">
            <a href="#"><img id="fb" src="{{asset('../images/icons/fb.png')}} " alt=""></a>
            <a href="#"><img id="pinterest" src="{{asset('../images/icons/pinterest.png')}} " alt=""></a>
        </div>
    </div>
</div>