#main{
    margin: 20px 0; 
    color:black; 
    background-color:white!important;
}
#image3D{
    padding:20px;
}
#content3D{
    display: flex;
    align-items: center;
}
#content3D h3{
    color: lightsalmon;
}
