.navbar{
    background-color: black;
    text-transform: uppercase;    
}
.container-fluid{
    margin: 0!important;
    padding: 0!important;
}
#logo{width: 7em; height:auto; text-align: start;}
#userIcon img{ width: 5em; height: auto; border-radius: 50%; border:solid 2px black }
#containerNav{
    margin: 0!important;
    padding: 0!important;
}
.nav-link{
    color: #FFA07A!important;
    text-align: center!important;
}
/* nav */


