
.row{display: flex;
    justify-content: center;
}
#titreHome{
    display: flex;
    justify-content: center;
    margin-bottom:50px;
}
 .owl-next span,  .owl-prev span{
    color: white!important;
}

/* Carousel */

.carousel-caption{
    top: 35%;
    padding-left: 10%;
    padding-right: 10%;
    text-transform: uppercase;
}
.carousel-caption h3{
    font-weight: 600;
    font-size: xx-large;
    margin-bottom: 20px;
    color: #FFA07A;
}
.carousel-caption p{    
    margin-bottom: 40px;
}
.CTA{
    width: 150px;
    height: 70px;
    border: 2px solid white;
    background-color: black;    
    color: white;
    font-size: 22px;
}
.CTA:hover{
    width: 150px;
    height: 70px;
    border: 3px solid #FFA07A;
    background-color: black;
    opacity: .8!important;
    color:#FFA07A;
    
}

/** Block menu */

.blockMenu{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 15px; 
    text-decoration: none;
    color: white; 
    margin-top: 15px; 
    margin-bottom: 15px; 
}
.blockMenu .menu a{
    text-decoration: none;
    color: white;
    font-weight: 300;    
}
.blockMenu .menu a:hover{
    color: #FFA07A;
}

#actionFigurine{
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
    background-color: aqua;
    background-image: url('../images/blockMenu/actionFigurine.png');
    background-size: cover;
    background-repeat: no-repeat;

}
#modelKit{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;    
    background-color: aquamarine;
    background-image: url('../images/blockMenu/modelKit.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#diorama{
    grid-row: 1 / span 3;
    grid-column: 2 / span 1;
    background-color: beige;
    background-image: url('../images/blockMenu/diorama.png');
    background-size: cover;
    background-repeat: no-repeat;

}
#print{
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
    background-color: burlywood;
    background-image: url('../images/blockMenu/print.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#blog{
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
    background-color: grey;
    background-image: url('../images/blockMenu/blog.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* slider */

.slider{
    background-color: black;
    color: black;
    padding: 2% 0 3% 0;
}
.sliderLatest, .sliderCrush{
    padding: 1% 0;
}

/* block 3D print */

.troisDPrint h2{
    color: black;
}

/* block productByTag */ 

.blockProductByTag{
    background-color: black;    
}
h2{
    color: white;
}
.jumbo{
    padding: 40px 0;
    color: white;
    display: flex;
    justify-content: center;
    text-align: start
}
.image img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute; 
    bottom: 0;     
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;  
  }
  
  .infos h4{
      text-transform: uppercase;
      color: #FFA07A;
      margin-top: 25%;
  }
  .infosOwl h4{
    text-transform: uppercase;
    color: #FFA07A;
    margin-top: 15%;
  }
  .infos h5{
      margin-bottom: 15%;
  }
  .infosOwl h5{
    margin-bottom: 10%;
}
  .btn-group{
      border: 1px solid #FFA07A;
  }
  .btnOwl{
      position: relative;
      left: -7px;
  }
  .btn-group a{      
      border: 1px solid #FFA07A;     
      color: #FFA07A;
      background-color: black;
      opacity: .5;
  } 
  .btn-group a:hover{ 
    border: 1px solid #FFA07A;
    color: #FFA07A;
    background-color: black;
    opacity: 1;
} 
  .container .overlay:hover{
      opacity:1;
}



/* block team */

.theTeam{
    margin-bottom: 20px;
}
.theTeam h2{
    color: black;
}

.team{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}
.team img{
    width: 400px;
    height: auto;
    margin: 0 50px;
}
.team h5{
    margin-top: 15px;
    color: #FFA07A;
}
.team p{
    color: grey;
    font-size: smaller;
}
.team a i{
    font-size: 25px;
    color: black;
    margin: 0 7px;
}
#fb, #pinterest{
    width: 30px;
    height: auto;
    margin: 0 5px;
}

/* block blog */

.blog{
    color: black;
    background-color: black;
}
.blog h2{
    color: white;
}
.blogRow h4{
    color: #FFA07A;
}
.blogRow h5{
    color: grey;
}

.blogRow{
    padding: 0 10%;
}
.blogCard{
    width: 18rem!important;
}

/* block bandeau */

.bottomBandeau{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(5, 1fr); 
    padding-top: 2% ;  
    background-color: black;
}
.bottomBandeau .icon{
    text-align: center; 
    color: #FFA07A;
    font-size: 2rem;
}
.bottomBandeau .icon p{
    color: white;
    font-size: 20px;
}
.bottomBandeau img{
    width: 50px;
    height: auto;     
}
.icons{    
    margin: 0 10%;    
}
.icons img{
    display: flex;
    justify-content: center;
}
.bottomBandeau p{
    text-align: center;
}
#paypal{
    grid-row: 1 / span 1;
    grid-column: 1 span 1;
}
#quality{
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}
#world{
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}
#handcraft{
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
}
#reward{
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
}








