*{margin:0; padding:0;}
html{color:black;}
h1{
    font-size: 50px; 
    font-family:'Roboto', sans-serif;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}
h2{
    font-size: 20px; 
    padding: 20px 0 30px 0!important;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;    
    text-transform: uppercase;
    color: white;
}
h2 span{
    color: #FFA07A;
}
h3{
    font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
}

@font-face {
    font-family: 'LocusResistance';   
    src: url('font/LocusResistance.ttf') format('ttf');        
    font-weight: normal;
    font-style: normal;
}
body{
    /* background-color: rgb(7, 7, 7)!important;     */
}


.titreJumbo{
    color: #FFA07A;
}
/* .container{margin: 20px 0;} */
.owl-dot span{color: black; background-color: black!important;}
.span .active{color: white; background-color: white!important;}



