{# <div class="latestPosts">    
   <div class="row" id="posts">
        {% for article in posts  %}
    <div class="col-md-3">
        <div class="">            
            {% if article.imageName %}                            
            <img class="" src="{{ asset('images/article/' ~ article.imageName ) }}" alt="Card image cap" >
            <div class="date">
                <p>{{article.createdAt | date('d F')}}</p> 
            </div>
            {% else %}
            <img class="" src="https://placehold.it/325x248" alt="Card image cap">   
            {% endif %}            
            <div class="infos" style="background-color: white;">
                <h4 class="">{{ article.title}}</h4>
                <div class="metadata">                    
                   <p> {{article.author}}</p>
                </div>
                <hr>
                <p class="">{{ article.content | slice(0, 50) }}...</p>
                <a href="{{ path('app_blog_show', {'id' : article.id })}}" type="button" class="primary">Read more</a>                
            </div>
        </div>
    </div>
    {% endfor %}      
   </div>
</div> #}
card-img-top

<div class="container-fluid">
    <div class="row blogRow">
        {% for article in posts %}
        <div class="card blogCard">
            {% if article.imageName %}                            
            <img class="card-img-top" src="{{ asset('images/article/' ~ article.imageName ) }}" alt="Card image cap" >            
            {% else %}
            <img class="card-img-top" src="https://placehold.it/325x248" alt="Card image cap">   
            {% endif %}     
            <div class="card-body">
              <h4 class="card-title">{{ article.title}}</h4>
              <p class="text-muted"> {{article.author}} on {{ article.createdAt | date('d F')}}</p>
              <p class="card-text">{{article.content | slice(0, 50)}}</p>
              <a href="{{ path('app_blog_show', {'id' : article.id })}}" type="button" class="primary">Read more</a>                

            </div>
          </div>
        {% endfor %}
    </div>
</div>

