

{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{asset('css/owlCarousel/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{asset('css/owlCarousel/owl.theme.default.min.css')}}">
<link rel="stylesheet" href=" {{asset('css/myowlcss.css')}} ">
{% endblock %}

{% block body %}
<div class="container">
        {% if coupDeCoeur | length > 0 %}
            <div class="owl-carousel owl-theme">
                    {% for product in latest  %}
                    <div class="ml-2 mr-2">
                        <div class="image">
                            {% if product.imageName %}                            
                            <img class="" src="{{ asset('images/products/' ~ product.imageName ) }}" alt="Card image cap" >
                            {% else %}
                            <img class="" src="https://placehold.it/325x248" alt="Card image cap">   
                            {% endif %}
                            <div class="infosOwl overlay">
                                <h4>{{ product.name}}</h4>
                                <h5 class="text-muted"> {{product.prix}}€ </h5>                        
                                <div class="btn-group d-flex justify-content-end btnOwl">    
                                    <a href="{{ path('app_product_show', {'id' :  product.id } )}}" type="button" class="btn btn-sm btn-outline-secondary"> <i class="fa fa-eye"></i></a>  
                                    <a href="{{ path('cart_add', {'id' :  product.id } )}}" type="button" class="btn btn-sm btn-outline-secondary" method="post" > <i class="fa fa-shopping-cart"></i></a> 
                                </div>                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}  
            </div>
            {% else %}
            <div class="alert alert-warning">La boutique n'a pas de produits en stock</div>
        {% endif %} 
    </div>

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
<script src=" {{asset('js/owlCarousel/owl.carousel.min.js')}} "></script>
<script>
   
  $('.owl-carousel').owlCarousel({
      autoplay:true,
      autoplayHoverPause:true,
      items:4,            
      loop:true,
      lazyLoad:true,
      dots: true,
      nav:true,
      margin:5,
      stagePadding:5,
      responsive:{
          0:{
              items:1,
              dots:false,
          },
          485:{
              items:2,
              dots:false,
          },
          785:{
              items:3,
              dots:false,
          },
          1022:{
              items:4,
              dots:fase,
          }
      }
  });

</script>
{% endblock %}
{% endblock %}
