<footer class="section-footer bg2 justify-content-center" style="background-color:#6c757d !important;color:white;">    
    
       <div class="row">
        <div class="col-md-4">
            <h3>Paiement Sécurisé</h3>
            <div>
                <img class="logo" src="{{asset('images/app_img/paypal.png')}}" style="width:150px">
            </div>
            
           

        </div>
        <div class="col-md-4">
            <h3>La Boutique</h3>
        </div>
        <div class="col-md-4">
            <h3>Nous Contacter</h3>        
            <h4>Miniture Universe</h4>
            <p>miniture_universe@gmail.com</p>
        </div>  

       </div>
   
   
</footer> 