{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/main.css')}}">
{% endblock %}

{% block body %}
  <div class="container">
    <section class="articles">
    <article class="">
      <h2 class="titreH2"> {{ article.title }} </h2>
      <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{article.createdAt | date('H:i')}}</div>
      <div class="content">
        <div class="">
          <img src="{{ asset('images/article/' ~ article.imageName ) }}" alt="">
        </div>
        <div>
          {{ article.content | raw }}
        </div>
      </div>
    </article>

    <hr />

    <section id="commentaires">
        <h1>{{article.articleComments | length }} Commentaires: </h1>
        {% for articleComment in article.articleComments %}
          <div class="comment">
            <div class="row">
              <div class="col-3">
                {{ articleComment.author }} ( <small>{{ articleComment.createdAt | date('d/m/Y a H:i') }}</small>)
              </div>
              <div class="col">
                {{ articleComment.content | raw }}
              </div>
            </div>
          </div>
        {% endfor %}
  
        {% if app.user %}
          {{ form_start(commentForm) }}
          {{form_row(commentForm.author, {'attr':{'placeholder': "Votre nom", 'class':'form-control'}})}}
          {{form_row(commentForm.content, {'attr':{'placeholder': "Votre message", 'class':'form-control'}})}}
          <button type="submit" name="button" class="btn btn-success">Poster</button>
          {{ form_end(commentForm) }}
        {% else %}
          <h2>Vous ne pouvez pas commenter sans etre connecté</h2>
          <a href="{{path('app_login')}}" class="btn btn-primary">Se connecter</a>
        {% endif %}
      </section> 
  </div>


{% endblock %}
