{% extends 'base.html.twig' %}


{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% if articles | length > 0 %}
            {% for article in articles %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        {% if article.imageName %}                            
                            <img class="card-img-top" src="{{ asset('images/article/' ~ article.imageName ) }}" alt="Card image cap" >
                            {% else %}
                            <img class="card-img-top" src="https://via.placeholder.com/325x248" alt="Card image cap">   
                        {% endif %}
                        <div class="card-body">
                            <h3 class="card-title">{{ article.title}}</h3>
                            <small>Published on: {{article.createdAt|date('d/m/Y')}} by {{article.author}} </small>
                            <hr>
                            <p class="card-text"> {{ article.content | slice(0, 100)}} </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">                                       
                                    <a href="{{ path('app_blog_show', {'id' : article.id })}}" type="button" class="btn btn-sm btn-outline-primary">View more >></a>  
                                </div>                                    
                            </div>
                        </div>
                    </div>
                </div>   
            {% endfor %}               
        {% else %}
            <div class="alert alert-warning">Aucun article n'a été trouvé !</div>
        {% endif %}         
    </div>
</div>
{% endblock %}
