<div class="jumbo">
    <div class="container">
        <div class="row">
            {% for product in productHome %}
                <div class="col-md-4">
                    <div class="image">
                        {% if product.imageName %}                            
                        <img class="card-img"   src="{{ asset('images/products/' ~ product.imageName ) }}" alt="Card image cap" style="margin: 15px;" >
                        {% else %}
                        <img class="card-img" src="https://via.placeholder.com/325x248" alt="Card image cap">   
                        {% endif %}
                    </div>
                    <div class="infos overlay">                        
                        <h4>{{ product.name}}</h4>
                        <h5 class="text-muted"> {{product.prix}}€ </h5>                        
                        <div class="btn-group d-flex justify-content-end">    
                            <a href="{{ path('app_product_show', {'id' :  product.id } )}}" type="button" class="btn btn-sm btn-outline-secondary"> <i class="fa fa-eye"></i></a>  
                            <a href="{{ path('cart_add', {'id' :  product.id } )}}" type="button" class="btn btn-sm btn-outline-secondary" method="post" > <i class="fa fa-shopping-cart"></i></a> 
                        </div>                        
                    </div> 
                </div>
            {% endfor %}
        </div>
    </div>
</div>

