{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/3Dprint.css')}}">
{% endblock %}

{% block body %}

<div id="main">
    <div class="container">
        <h2 class="titreH2">- 3D print <span>your favorite design - </span></h2>        
        <div class="row">
            <div class="col-md-6" id="image3D">
                <img src=" {{asset('https://www.techcorner.fr/wp-content/uploads/2017/05/Dagoma-neva-3.jpg')}} " alt="">
            </div>
            <div class="col-md-6" id="content3D">
                <div class="container">
                    <div class="row">
                        <h3>Faite imprimer Vos héros préférés</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio odio sunt expedita laboriosam obcaecati officiis nostrum quo, dolorem nesciunt fugit iure, repudiandae quia earum placeat. Earum delectus asperiores voluptatem quia.</p>
                    </div>
                    <div class="row">
                        <h3>Vous avez un projets pro ? </h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio odio sunt expedita laboriosam obcaecati officiis nostrum quo, dolorem nesciunt fugit iure, repudiandae quia earum placeat. Earum delectus asperiores voluptatem quia.</p>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>

{% endblock %}