<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>        
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
        <link href="css/bootstrap.css?v=1.0" rel="stylesheet" type="text/css"/> 
        <link href="css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />                
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>       
        
    </head> 
    {% block stylesheets %}
    {% endblock %}
    
    {% include 'header/header.html.twig' %}

        
            {% block body %}               
            {% endblock %}

            {% block javascript %}{% endblock %}
       
    {% include 'footer/footer.html.twig' %}
</html>


