<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>        
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
        <link href="{{asset('css/bootstrap/bootstrap.css')}}" rel="stylesheet" type="text/css"/> 
        <link href="{{asset('css/bootstrap/responsive.css')}}" rel="stylesheet" media="only screen and (max-width: 1200px)" />                
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{asset('css/main.css')}}"> 
        <link rel="stylesheet" href="{{asset('css/home.css')}}">
       
    </head> 
    

    {% include 'header/headerTest.html.twig' %}       
{#    {% include 'header/header.html.twig' %}
#}
    {% block body %}{% endblock %}

    {% include 'footer/footer.html.twig' %}

    
    {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>       
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>       
    {% endblock %}
        
</html>


