{% extends 'baseAccount.html.twig' %}

{% block stylesheets %}{% endblock %}


    {% block body %}
        <div class="body-form-user">
            <div class="form-user-out">
                <h2 class="title-form">Modification utilisateur</h2>
                {{ form_start(form) }}
                <div class="ctn-user-in">
                    <div class="form-user-row">
                        {{ form_label(form.username) }}
                        <div class="form-user-widget-error">
                            <div class="form-user-error">
                                {{ form_errors(form.username) }}
                            </div>
                            <div class="form-user-widget">
                                {{ form_widget(form.username) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-user-row">
                        {{ form_label(form.email) }}
                        <div class="form-user-widget-error">
                            <div class="form-user-error">
                                {{ form_errors(form.email) }}
                            </div>
                            <div class="form-user-widget">
                                {{ form_widget(form.email) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-user-row">
                        {{ form_label(form.password.first) }}
                        <div class="form-user-widget-error">
                            <div class="form-user-error">
                                {{ form_errors(form.password.first) }}
                            </div>
                            <div class="form-user-widget">
                                {{ form_widget(form.password.first) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-user-row">
                        {{ form_label(form.password.second) }}
                        <div class="form-user-widget-error">
                            <div class="form-user-error">
                                {{ form_errors(form.password.second) }}
                            </div>
                            <div class="form-user-widget">
                                {{ form_widget(form.password.second) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-user-row">
                        {{ form_label(form.name) }}
                        <div class="form-user-widget-error">
                            <div class="form-user-error">
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="form-user-widget">
                                {{ form_widget(form.name) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-user-row">
                        {{ form_label(form.firstname) }}
                        <div class="form-user-widget-error">
                            <div class="form-user-error">
                                {{ form_errors(form.firstname) }}
                            </div>
                            <div class="form-user-widget">
                                {{ form_widget(form.firstname) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-user-row">
                        {{ form_label(form.adress) }}
                        <div class="form-user-widget-error">
                            <div class="form-user-error">
                                {{ form_errors(form.adress) }}
                            </div>
                            <div class="form-user-widget">
                                {{ form_widget(form.adress) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-user-row">
                        {{ form_label(form.zipcode) }}
                        <div class="form-user-widget-error">
                            <div class="form-user-error">
                                {{ form_errors(form.zipcode) }}
                            </div>
                            <div class="form-user-widget">
                                {{ form_widget(form.zipcode) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-user-row">
                        {{ form_label(form.city) }}
                        <div class="form-user-widget-error">
                            <div class="form-user-error">
                                {{ form_errors(form.city) }}
                            </div>
                            <div class="form-user-widget">
                                {{ form_widget(form.city) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-user-row">
                        {{ form_label(form.state) }}
                        <div class="form-user-widget-error">
                            <div class="form-user-error">
                                {{ form_errors(form.state) }}
                            </div>
                            <div class="form-user-widget">
                                {{ form_widget(form.state) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-user-row">
                        {{ form_label(form.country) }}
                        <div class="form-user-widget-error">
                            <div class="form-user-error">
                                {{ form_errors(form.country) }}
                            </div>
                            <div class="form-user-widget">
                                {{ form_widget(form.country) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-user-row">
                        {{ form_label(form.imageFile) }}
                        <div class="form-user-widget-error">
                            <div class="form-user-error">
                                {{ form_errors(form.imageFile) }}
                            </div>
                            <div class="form-user-widget">
                                {{ form_widget(form.imageFile) }}
                            </div>
                        </div>
                    </div>
                    <div class="row-button">
                        <button class="btn btn-success form-btn btn-modifier">
                            Modifier utilisateur
                        </button>
                        <img class="upload-img" src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="" />
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    {% endblock %}
