{% extends "baseAccount.html.twig" %}

{% block body %}
 <nav class="navbar navbar-expand-sm bg-light justify-content-center"> 
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" href=" {{path('user_account')}} ">Mon profil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Mes Commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"></a>
    </li>
  </ul>
</nav>
<div class="container">
  <h1>Welcome to your dashboard {{ app.user }}</h1>

<div class="row">
    <div class="col-md-8">
      <div class="container">         
        <p>{{ app.user }}</p>
        {# <p>{{ app.user }}</p>
        <p>{{ app.user.image }}</p>
        <p>{{ app.user.adress }}</p>
        <p>{{ app.user.zipcode }}</p>              
        <p>{{ app.user.city }}</p> #}
      </div>            
    </div>
    <div class="col-md-4">      
            <a href=" {{path('user_edit', {'id' :  user.id })}} " class="btn btn-success" type="submit" label="Modifier le compte">Modifier le compte</a>
            <hr/>
            <a href=" {{path('user_reset_pw', {'id' :  user.id })}} " class="btn btn-success" type="submit" label="Modifier le compte">Modifier le mot de passe </a>
            <hr/>
            <a href="#"  class="btn btn-success" type="submit" label="supprimer le compte">Supprimer le compte</a>        
      </div>
</div>


    
</div>


{% endblock %}