{% extends 'base.html.twig' %}

{% block title %}Hello UserAccountController!{% endblock %}

{% block body %}


<div>
    <h1>Hello {{ app.user }}! </h1>
        <div class="ctn-reset-password">
            <form method="post" class="form-reset-password">
        
                <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <input type="hidden" name="token" value="{token}">
        
                <button class="btn btn-lg btn-primary" type="submit">
                    Register
                </button>
            </form>
            </div>
    

    
{% endblock %}
