<div class="">
    {% if latest | length > 0  %}
    
        {% for product in latest %}
            <div class="row">
                <div class="col-md-4">
                    <div class="image" style="width: 300px;">
                        {% if product.imageName %}                            
                            <img src="{{ asset('images/products/' ~ product.imageName ) }}" alt="Card image cap" >
                            {% else %}
                            <img src="https://placehold.it/325x248" alt="Card image cap">   
                        {% endif %}
                    </div>
                    <div class="infos">
                        <h3> {{product.name}} </h3>
                         <p>{{product.description | slice(0, 20) }}</p> 
                        <p> {{product.prix}} </p>
                    </div>
                    <div class="btn-group">
                        <form action="{{ path('cart_add', {'id' :  product.id } )}}"  method="post">
                            <button type="submit" class="btn btn-sm btn-outline-secondary"><i class="fas fa-shopping-cart"></i></button> 
                        </form>                                     
                        <a href="{{ path('app_product_show', {'id' : product.id })}}" type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-eye"></i></a>
                    </div>
                    
                </div>
            </div>
            
        {% endfor %}    
    
    {% else %}
        <div class="alert alert-warning">La boutique n'a pas de produits en stock</div>
    {% endif %}
    
</div>